<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>

<fieldset>
  <div class="row-fluid">
    <div class="span6">
      <%= f.input :name, :required => true, :autofocus => true %>
    </div>
    <div class="span6">
      <%= f.input :email, :required => true %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    </div>
    <div class="span6">
      <%= f.input :password_confirmation, :required => false %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
</fieldset>
<% end %>