<%= bootstrap_flash %>
<div class="login_box">
  <div class="top_b">ForAll Imobiliária - Esqueci minha senha</div>

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %><div class="alert alert-info alert-login">
      <%= t('give_email_to_retrive_password') %>
    </div>
  <div class="cnt_b">
    <div class="formRow">
      <%= f.input :email, :wrapper => :prepend do %>
        <span class="add-on">@</span><%= f.text_field :email %>
      <% end -%>
    </div>
  </div>

  <div class="btm_b clearfix">
    <button class="btn btn-inverse pull-right" type="submit"><%= t('send') %></button>
    <span class="link_reg"><a href="<%= new_session_path(resource_name) %>"><%= t('go_back_to_sign_in') %></a></span>
  </div>  
<% end %>
</div>
