<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Meus dados</h3>
</div>
<%= simple_form_for(current_user, :url => user_registration_path, remote: true, :html => { :method => :put, class: 'form-vertical' }) do |f| %>
<div class="modal-body">
  <fieldset>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :name, :required => true, :autofocus => true %>
      </div>
      <div class="span6">
        <%= f.input :email, :required => true %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :password, :autocomplete => "off", :hint => "Deixe em branco caso não queira modificar sua senha", :required => false %>
      </div>
      <div class="span6">
        <%= f.input :password_confirmation, :required => false %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= f.input :current_password, :hint => "Para atualizar suas informações é necessário preencher sua senha atual", :required => true %>
      </div>
    </div>
  </fieldset>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
  <button class="btn btn-primary" type="submit">Salvar</button>
</div>
<% end %>