<nav>
  <div id="jCrumbs" class="breadCrumb module">
    <ul>
      <li>
          <a href="#"><i class="icon-home"></i></a>
      </li>
      <li>
          <a href="#">Sports & Toys</a>
      </li>
      <li>
          <a href="#">Toys & Hobbies</a>
      </li>
      <li>
          <a href="#">Learning & Educational</a>
      </li>
      <li>
          <a href="#">Astronomy & Telescopes</a>
      </li>
      <li>
          Telescope 3735SX 
      </li>
    </ul>
  </div>
</nav>