<%= simple_nested_form_for(@real_estate, defaults: { input_html: { class: 'span10' } }, html: {class: 'form-horizontal'}) do |f| %>
<div class="real_estate_tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Resumo do imóvel</a></li>
    <li><a href="#tab2" data-toggle="tab">Características</a></li>
    <li><a href="#tab3" data-toggle="tab">Proprietário</a></li>
    <% unless @real_estate.new_record? %>
    <li>
      <a href="#tab4" data-toggle="tab" id="tabImages"
      data-ajax-source="<%= reload_images_real_estate_path(@real_estate, format: :js) %>">
      Imagens (<%=@real_estate.real_estate_images.count %>)
      </a>
    </li>
    <% end -%>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render partial: 'resume', locals: {f: f} %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render partial: 'specifications', locals: {f: f} %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render partial: 'owner', locals: {f: f} %>
    </div>
    <% unless @real_estate.new_record? %>
    <div class="tab-pane" id="tab4">
    </div>
    <% end -%>
  </div>
</div>

<fieldset>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to t('back_list'), {action: :index}, class: 'btn' %>
  </div>
</fieldset>
<% end %>
