<div class="row-fluid">
  <div class="span12">
    <div id="large_grid" class="wmk_grid">
      <ul>
        <% @real_estate.real_estate_images.each do |real_estate_image| %>
        <li class="thumbnail image_<%=real_estate_image.id%> <%=css_class_of_master(real_estate_image) %>">
          <a href="<%=real_estate_image.image.url(:big) %>" title="<%=real_estate_image.image_file_name %>">
            <img src="<%= real_estate_image.image.url(:medium) %>" alt="" />
          </a>
          <p>
            <%= link_to '<i class="icon-trash"></i>'.html_safe,
              destroy_image_real_estate_path(@real_estate,real_estate_image_id: real_estate_image.id),
              remote: true,
              title: "Apagar" %>
            
              <% unless real_estate_image.master %>
                <%= link_to 'Tornar principal',
                update_image_master_real_estate_path(@real_estate,real_estate_image_id: real_estate_image.id),
                remote: true,
                class: 'btn btn-primary btn-mini' %>
              <% else %>
              <%= link_to 'Imagem principal',
                'javascript:;',
                class: 'btn btn-primary btn-mini disabled btn-success' %>
              <% end -%>
            <br />
            <span>
              
              Nome: <%=content_tag(:u, truncate(real_estate_image.image_file_name), title: real_estate_image.image_file_name) %><br />
              Dimensões: <u><%=image_dimenssions(real_estate_image.image.path) %></u>
            </span>

          </p>
        </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>
