<div class="row-fluid">
  <div class="span6">
    <%= f.input :owner_name %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :owner_phone %>
  </div>
  <div class="span6">
    <%= f.input :owner_mobile_phone %>
  </div>
</div>
<h3 class="heading">Representante</h3>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :owner_agent_name %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :owner_agent_phone %>
  </div>
  <div class="span6">
    <%= f.input :owner_agent_mobile_phone %>
  </div>
</div>