<div class="row-fluid">
  <div class="span6">
    <%= f.input :title%>
  </div>
  <div class="span6">
    <%= f.input :real_estate_type, collection: real_estate_type_options, include_blank: false %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :short_description %>
  </div>
  <div class="span6">
    <%= f.input :description %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="ui_slider1"></div>
    <input type="hidden" name="ui_slider_default_val" id="ui_slider_default_val"/>
    <%= f.input :selling_price, :wrapper => :prepend do %>
      <span class="add-on"><%= t('number.currency.format.unit')%></span><%= f.text_field :selling_price, class: :currency, value: f.object.selling_price.to_s %>
    <% end %>
  </div>
  <div class="span6">
    <%= f.input :comission_price, :wrapper => :prepend do %>
      <span class="add-on"><%= t('number.currency.format.unit')%></span><%= f.text_field :comission_price, class: :currency, value: f.object.comission_price.to_s %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :sold, input_html: {class: nil} %>
  </div>
  <div class="span6">
    <%= f.input :active, input_html: {class: nil} %>
  </div>
</div>
<div class="row-fluid sold_info">
  <div class="span6">
    <%= f.input :sold_price, :wrapper => :prepend do %>
      <span class="add-on"><%= t('number.currency.format.unit')%></span><%= f.text_field :sold_price, class: :currency, value: f.object.sold_price.to_s %>
    <% end %>
  </div>
  <div class="span6">
    <%= f.input :sold_at, :wrapper => :prepend do %>
      <span class="add-on"><i class="splashy-calendar_day_up"></i></span><%= f.text_field :sold_at, value: f.object.sold_at.try(:strftime, "%d/%m/%Y"), class: 'span7' %>
    <% end -%>
  </div>
</div>
<%= f.association :goals, collection: Goal.order('name ASC'), input_html: {class: 'multiselect'} %>

<h3 class="heading">Localidade</h3>
<div class="row-fluid">
  <div class="span6">
    <%= f.input :address_zipcode %>
  </div>
  <div class="span6">
    <%= f.input :address %>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <%= f.input :address_number %>
  </div>
  <div class="span6">
    <%= f.input :address_complement %>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <%= f.input :address_neighborhood %>
  </div>
  <div class="span6">
    <%= f.input :address_reference %>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <%= f.input :address_region %>
  </div>
  <div class="span6">
    <%= f.input :address_city %>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <%= f.input :address_state, collection: state_options %>
  </div>
  <div class="span6">
    <%= f.input :address_country, as: :string, input_html: {value: 'Brasil', disabled: :disabled} %>
  </div>
</div>
