<h2 class="heading"><%=t('breadcrumbs.real_estates.index')%>
<div class="pull-right"><%= link_to t('new'), new_real_estate_path, class: 'btn btn-mini btn-inverse' %></div>
</h2>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-bordered table-condensed dTableR" id="realEstateTableList">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= RealEstate.human_attribute_name(:title)%></th>
          <th><%= RealEstate.human_attribute_name(:short_description)%></th>
          <th><%= RealEstate.human_attribute_name(:address_region) %></th>
          <th><%= RealEstate.human_attribute_name(:address_city) %></th>
          <th width="300"></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  var realEstateTableData = []
  <% @real_estates.each do |real_estate| %>
    realEstateTableData.push(["<%=real_estate.id%>",
      "<%=j real_estate.title%>",
      "<%=j real_estate.short_description%>",
      "<%=j real_estate.address_region%>",
      "<%=j real_estate.address_city%>",
      "<%=j (link_to(t('show'), real_estate, class: "btn btn-mini").html_safe + ' ' +
            link_to(t('edit'), edit_real_estate_path(real_estate), class: "btn btn-mini").html_safe + ' ' +
            link_to(t('delete'), real_estate, method: :delete, data: { confirm: t('confirm') }, class: "btn btn-mini btn-danger").html_safe) %>"
      ])
  <% end %>
  $(document).ready(function(){
    $('#realEstateTableList').dataTable({
      "sDom": "<'row'<'span6'<'dt_actions'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap_alt",
      "oLanguage": {
        "sUrl": "/datatable/i18n"
      },
      "aaSorting": [[ 0, "desc" ]],
      "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 5 ] }],
      "aaData": realEstateTableData,
      "aoColumns": [
        { "sClass": "center" },
        { },
        { },
        { },
        { },
        { "sClass": "center" }
      ]
    })
  });
</script>
