$('#tab4').html("<%=j render partial: 'images' %>")

$(document).ready(function(){

  $('#tabImages').text('Imagens (<%=@real_estate.real_estate_images.count%>)')
  $("#multi_upload").pluploadQueue({
    // General settings
    runtimes : 'html5,flash,silverlight',
    url : '<%=upload_images_real_estate_path(@real_estate)%>',
    max_file_size : '10mb',
    chunk_size : '1mb',
    unique_names : true,
    browse_button : 'pickfiles',

    // Specify what files to browse for
    filters : [
        {title : "Arquivos de imagem", extensions : "jpg,gif,png"},
        {title : "Arquivos ZIP", extensions : "zip"}
    ],

    // Flash settings
    flash_swf_url : '/plupload/js/plupload.flash.swf',

    // Silverlight settings
    silverlight_xap_url : '/plupload/js/plupload.silverlight.xap'
  });
  var uploader = $('#multi_upload').pluploadQueue(); 
  uploader.bind('FileUploaded', function(up, file, res) {
      if(this.total.queued == 0){
        $.get('<%= reload_images_real_estate_path(@real_estate, format: :js) %>')
      }
  });
  gebo_gal_grid.init();
  gebo_gal_grid.large();
})