<h2 class="heading">
  <%=t('breadcrumbs.real_estates.show')%>
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to t('print'), 'javascript:window.print()', class: 'btn btn-mini btn-inverse' %>
      <%= link_to t('edit'), url_for(action: :edit, id: params[:id]), class: 'btn btn-mini' %>
      <%= link_to t('back_list'), url_for(action: :index), class: 'btn btn-mini' %>
    </div>
  </div>
</h2>

<div class="row-fluid">
  <div class="span4">
    <h3 class="heading">Resumo do imóvel</h3>
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <span class="item-key"><strong>Código</strong></span>
          <div class="vcard-item"><strong><%= @real_estate.id %></strong></div>
        </li>
        <li>
          <span class="item-key"><strong><%= RealEstate.human_attribute_name(:title) %></strong></span>
          <div class="vcard-item"><strong><%= @real_estate.title %></strong></div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:company) %></span>
          <div class="vcard-item"><%= @real_estate.company.name %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:real_estate_type) %></span>
          <div class="vcard-item"><%= @real_estate.real_estate_type_full_text %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:short_description) %></span>
          <div class="vcard-item"><%= @real_estate.short_description %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:description) %></span>
          <div class="vcard-item"><%= @real_estate.description %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:selling_price) %></span>
          <div class="vcard-item"><%= number_to_currency @real_estate.selling_price %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:comission_price) %></span>
          <div class="vcard-item"><%= @real_estate.comission_price %>&nbsp;</div>
        </li>
        <% if @real_estate.sold %>
          <% if @real_estate.sold_at %>
          <li>
            <span class="item-key"><%= RealEstate.human_attribute_name(:sold_at) %></span>
            <div class="vcard-item"><%= l @real_estate.sold_at %>&nbsp;</div>
          </li>
          <% end -%>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:sold_price) %></span>
          <div class="vcard-item"><%= number_to_currency @real_estate.sold_price %>&nbsp;</div>
        </li>
        <% end -%>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:active) %></span>
          <div class="vcard-item"><%= @real_estate.active ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key">Finalidades</span>
          <div class="vcard-item">
            <ul class="list_a">
              <%= @real_estate.goals.pluck(:name).collect{|t| content_tag(:li, t) }.join.html_safe %>&nbsp;
            </ul>
        </li>
        <li>
          <span class="item-key">Proprietário</span>
          <div class="vcard-item"><%= [@real_estate.owner_name, @real_estate.owner_phone, @real_estate.owner_mobile_phone].compact.join(' - ') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key">Representante</span>
          <div class="vcard-item"><%= [@real_estate.owner_agent_name, @real_estate.owner_agent_phone, @real_estate.owner_agent_mobile_phone].compact.join(' - ') %>&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <h3 class="heading">Localidade</h3>
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_zipcode) %></span>
          <div class="vcard-item"><%= @real_estate.address_zipcode %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address) %></span>
          <div class="vcard-item"><%= @real_estate.address %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_number) %></span>
          <div class="vcard-item"><%= @real_estate.address_number %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_complement) %></span>
          <div class="vcard-item"><%= @real_estate.address_complement %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_neighborhood) %></span>
          <div class="vcard-item"><%= @real_estate.address_neighborhood %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_reference) %></span>
          <div class="vcard-item"><%= @real_estate.address_reference %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_region) %></span>
          <div class="vcard-item"><%= @real_estate.address_region %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_city) %></span>
          <div class="vcard-item"><%= @real_estate.address_city %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_state) %></span>
          <div class="vcard-item"><%= @real_estate.address_state %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:address_country) %></span>
          <div class="vcard-item"><%= @real_estate.address_country %>&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="span4">
    <h3 class="heading">Características</h3>
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:rooms) %></span>
          <div class="vcard-item"><%= @real_estate.rooms %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:bathrooms) %></span>
          <div class="vcard-item"><%= @real_estate.bathrooms %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:terrain_area) %></span>
          <div class="vcard-item"><%= @real_estate.terrain_area %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:build_area) %></span>
          <div class="vcard-item"><%= @real_estate.build_area %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:fireplace) %></span>
          <div class="vcard-item"><%= @real_estate.fireplace ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:pool) %></span>
          <div class="vcard-item"><%= @real_estate.pool ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:gated) %></span>
          <div class="vcard-item"><%= @real_estate.gated ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:bbq_area) %></span>
          <div class="vcard-item"><%= @real_estate.bbq_area ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:kennel) %></span>
          <div class="vcard-item"><%= @real_estate.kennel ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:dependencies) %></span>
          <div class="vcard-item"><%= @real_estate.dependencies ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:homemade_house) %></span>
          <div class="vcard-item"><%= @real_estate.homemade_house ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:turkish_bath) %></span>
          <div class="vcard-item"><%= @real_estate.turkish_bath ? t('yes') : t('no') %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= RealEstate.human_attribute_name(:game_room) %></span>
          <div class="vcard-item"><%= @real_estate.game_room ? t('yes') : t('no') %>&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3 class="heading">Imagens</h3>
    <div id="large_grid" class="wmk_grid">
      <ul>
        <% @real_estate.real_estate_images.each do |real_estate_image| %>
        <li class="thumbnail image_<%=real_estate_image.id%> <%=css_class_of_master(real_estate_image) %>">
          <a href="<%=real_estate_image.image.url(:big) %>" title="<%=real_estate_image.image_file_name %>">
            <img src="<%= real_estate_image.image.url(:medium) %>" alt="" />
          </a>
          <p>
              <% if real_estate_image.master %>
                <%= link_to 'Imagem principal',
                'javascript:;',
                class: 'btn btn-primary btn-mini disabled btn-success' %>
              <% end -%>
            <br />
            <span>
              
              Nome: <%=content_tag(:u, truncate(real_estate_image.image_file_name), title: real_estate_image.image_file_name) %><br />
              Dimensões: <u><%=image_dimenssions(real_estate_image.image.path) %></u>
            </span>

          </p>
        </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>
