<h2 class="heading">
  <%=t('breadcrumbs.companies.new')%>
  <div class="pull-right"><%= link_to t('back_list'), url_for(action: :index), class: 'btn btn-mini btn-inverse' %></div>
</h2>

<%= render 'form' %>
