<h2 class="heading">
  <%=t('breadcrumbs.companies.show')%>
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to t('print'), 'javascript:window.print()', class: 'btn btn-mini btn-inverse' %>
      <%= link_to t('edit'), url_for(action: :edit, id: params[:id]), class: 'btn btn-mini' %>
      <%= link_to t('back_list'), url_for(action: :index), class: 'btn btn-mini' %>
    </div>
  </div>
</h2>

<div class="row-fluid">
  <div class="span6">
    <h3 class="heading">Resumo da Imobiliária</h3>
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <span class="item-key"><strong>Código</strong></span>
          <div class="vcard-item"><strong><%= @company.id %></strong></div>
        </li>
        <li>
          <span class="item-key"><strong><%= Company.human_attribute_name(:name) %></strong></span>
          <div class="vcard-item"><strong><%= @company.name %>&nbsp;</strong></div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:company) %></span>
          <div class="vcard-item"><%= @company.company.name %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:url) %></span>
          <div class="vcard-item"><%= @company.url %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:users) %></span>
          <div class="vcard-item"><%= @company.users.count %>&nbsp;</div>
        </li>

        <li>
          <span class="item-key"><%= Company.human_attribute_name(:real_estates) %></span>
          <div class="vcard-item"><%= @company.real_estates.count %>&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <h3 class="heading">Localidade</h3>
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address_zipcode) %></span>
          <div class="vcard-item"><%= @company.address_zipcode %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address) %></span>
          <div class="vcard-item"><%= @company.address %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address_number) %></span>
          <div class="vcard-item"><%= @company.address_number %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address_complement) %></span>
          <div class="vcard-item"><%= @company.address_complement %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address_neighborhood) %></span>
          <div class="vcard-item"><%= @company.address_neighborhood %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address_city) %></span>
          <div class="vcard-item"><%= @company.address_city %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address_state) %></span>
          <div class="vcard-item"><%= @company.address_state %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:address_country) %></span>
          <div class="vcard-item"><%= @company.address_country %>&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h3 class="heading">Redes Sociais</h3>
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:twitter) %></span>
          <div class="vcard-item"><%= @company.twitter %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:facebook) %></span>
          <div class="vcard-item"><%= @company.facebook %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:google_plus) %></span>
          <div class="vcard-item"><%= @company.google_plus %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:linkedin) %></span>
          <div class="vcard-item"><%= @company.linkedin %>&nbsp;</div>
        </li>
        <li>
          <span class="item-key"><%= Company.human_attribute_name(:skype) %></span>
          <div class="vcard-item"><%= @company.skype %>&nbsp;</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="vcard">
      <ul style="margin-left:0px" >
        <li>
          <strong>Informações Adicionais</strong>
        </li>
        <li>
          <ul class="unstyled sepH_b item-list">
            <% @company.company_details.each do |company_detail| %>
            <li>
              <a href="#"><%=company_detail.detail.name %>:</a> 
              <%=company_detail.value%>
            </li>
            <% end -%>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3 class="heading">Logomarcas</h3>
    <div id="large_grid" class="wmk_grid">
      <ul>
        <% %w(logo twitter_logo facebook_logo skype_logo linkedin_logo google_plus_logo).each do |img_source| %>
        <% next if @company.send("#{img_source}_file_name").blank? %>
        <li class="thumbnail">
          <a href="<%=@company.send("#{img_source}").url(:big) %>" title="<%=@company.send("#{img_source}_file_name") %>">
            <img src="<%=@company.send("#{img_source}").url(:medium) %>" alt="" />
          </a>
          <p>
            <span>
              <%= Company.human_attribute_name("#{img_source}") %><br />
              Nome: <%=content_tag(:u, truncate(@company.send("#{img_source}_file_name")), title: @company.send("#{img_source}_file_name")) %><br />
              Dimensões: <u><%=image_dimenssions(@company.send("#{img_source}").path) %></u>
            </span>

          </p>
        </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>
