<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :remote => true, :html => { :method => :put }) do |f| %>
  <div class="top_b"><%= t('devise.passwords.edit.title', :resource_name => resource_name.to_s.humanize) %></div>

  <%= bootstrap_flash_namespace(:password, {:class => "alert-login"}) %>

  <%= f.hidden_field :reset_password_token %>

  <div class="cnt_b">
    <%= f.input :password, :as => "password", :label => false, :autofocus => true, placeholder: t('devise.passwords.edit.password_label') %>
    <%= f.input :password_confirmation, :as => "password", :label => false, placeholder: t('devise.passwords.edit.password_confirmation_label') %>
  </div>
  <div class="btm_b clearfix">
    <%= f.button :submit, t('devise.passwords.edit.submit'), :disable_with => t('devise.passwords.edit.submit'), :class => "btn btn-inverse pull-right" %>
  </div>
<% end %>