$('.alert-error').remove()
console.log('aki')
$('#pass_form_container').html('<%= j(render :partial => 'form_new', :locals => { :resource => resource } )%>');
$('#pass_form').show();
$('.alert-error button').remove()