<div class="login_box">
  <div id="pass_form_container">
    <%= render :partial => "passwords/form_edit", :locals => { :resource => resource } %>
  </div>
</div>

<div class="links_b links_btm clearfix">
  <span class="linkform" style="display:none"><%=t('general.actions.go_back_to_sign_in').html_safe %></span>
</div>  