<%= bootstrap_flash %>
<div class="login_box">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {id: :login_form}) do |f| %>
    <div class="top_b">ForAll Imobiliária - Acesso ao sistema</div>
    <div class="alert alert-info alert-login">
      <%= t('enter_with_your_informations') %>
    </div>
    <div class="cnt_b">
      <div class="formRow">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span><%= f.text_field :email, placeholder: User.human_attribute_name(:email) %>
        </div>
      </div>
      <div class="formRow">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password, placeholder: User.human_attribute_name(:password) %>
        </div>
      </div>
      <div class="formRow clearfix">
        <label class="checkbox"><%= f.check_box :remember_me %> <%= t('remember_me') %></label>
      </div>
    </div>
    <div class="btm_b clearfix">
      <button class="btn btn-inverse pull-right" type="submit"><%= t('sign_in') %></button>
      <span class="link_reg"><a href="<%= new_password_path(resource_name) %>"><%= t('forgot_password') %></a></span>
    </div>  
  <% end %>
</div>

<div class="links_b links_btm clearfix">
  <span class="linkform" style="display:none"><%=t('go_back_to_sign_in').html_safe %></span>
</div>  
