<h2 class="heading">
  <%=t('breadcrumbs.company_users.edit')%>
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to t('resume_mode'), url_for(action: :show, id: params[:id]), class: 'btn btn-mini' %>
      <%= link_to t('back_list'), url_for(action: :index), class: 'btn btn-mini btn-inverse' %>
    </div>
  </div>
</h2>

<%= render 'form' %>
