<h2 class="heading"><%=t('breadcrumbs.company_users.index')%>
<div class="pull-right"><%= link_to t('new'), new_company_user_path, class: 'btn btn-mini btn-inverse' %></div>
</h2>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-bordered table-condensed dTableR" id="userTableList">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= User.human_attribute_name(:name)%></th>
          <th><%= User.human_attribute_name(:email)%></th>
          <th><%= User.human_attribute_name(:company)%></th>
          <th><%= User.human_attribute_name(:master)%></th>
          <th width="300"></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  var userTableData = []
  <% @users.each do |user| %>
    userTableData.push(["<%=user.id%>",
      "<%=j user.name%>",
      "<%=j user.email%>",
      "<%=j user.company.name%>",
      "<%=j user.master? ? t('yes') : t('no')%>",
      "<%=j (link_to(t('show'), company_user_path(user), class: "btn btn-mini").html_safe + ' ' +
            link_to(t('edit'), edit_company_user_path(user), class: "btn btn-mini").html_safe + ' ' +
            link_to(t('delete'), company_user_path(user), method: :delete, data: { confirm: t('confirm') }, class: "btn btn-mini btn-danger").html_safe) %>"
      ])
  <% end %>

  $(document).ready(function(){
    $('#userTableList').dataTable({
      "sDom": "<'row'<'span6'<'dt_actions'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap_alt",
      "oLanguage": {
        "sUrl": "/datatable/i18n"
      },
      "aaSorting": [[ 0, "desc" ]],
      "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 5 ] }],
      "aaData": userTableData,
      "aoColumns": [
        { "sClass": "center" },
        { },
        { },
        { },
        { },
        { "sClass": "center" }
      ]
    })
  });
</script>
