<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ForAll Imobiliária</title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie.css" />
    <script src="js/ie/html5.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <![endif]-->
    <script>
      //* hide all elements & show preloader
      document.documentElement.className += 'js';
    </script>
  </head>
  <body>
    <div id="loading_layer" style="display:none"><%= image_tag "ajax_loader.gif" %></div>

    <div id="maincontainer" class="clearfix">
      <!-- header -->
      <header>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="brand" href="<%=root_path%>"><i class="icon-home icon-white"></i> <%=current_user.company.name%></a>
              <ul class="nav user_menu pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuário <u><%= current_user.name %></u> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a data-toggle="modal" data-target="#editRegistrationModal" href="<%= edit_user_registration_path %>">Meus dados</a></li>
                    <li class="divider"></li>
                    <li><%=link_to t('sign_out'), destroy_user_session_path %></li>
                  </ul>
                </li>
              </ul>
              <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                <span class="icon-align-justify icon-white"></span>
              </a>
              <nav>
                <div class="nav-collapse">
                  <ul class="nav">
                    <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-home icon-white"></i> Imóveis <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="<%=new_real_estate_path%>">Novo imóvel</a></li>
                        <li><a href="<%=real_estates_path%>">Lista de imóveis</a></li>
                      </ul>
                    </li>
                    <% if current_user.master? || current_user.sys_admin? %>
                    <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-user icon-white"></i> Usuários <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="<%= new_company_user_path %>">Novo usuário</a></li>
                        <li><a href="<%= company_users_path %>">Lista de usuários</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-edit icon-white"></i> Imobiliárias <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="<%= new_company_path %>">Nova imobiliária</a></li>
                        <li><a href="<%= companies_path %>">Lista de imobiliárias</a></li>
                      </ul>
                    </li>
                    <% end -%>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>

      <!-- main content -->
      <div id="contentwrapper">
        <div class="main_content">
          <%= bootstrap_flash %>
          <%= render_breadcrumbs %>
          <%=yield -%>
        </div>
      </div>
      <script type="text/javascript" src="/plupload/js/plupload.full.js"></script>
      <script type="text/javascript" src="/plupload/js/jquery.plupload.queue/jquery.plupload.queue.full.js"></script>
      <script>
      $(document).ready(function() {
        //* show all elements & remove preloader
        setTimeout('$("html").removeClass("js")',1000);
      });
      </script>
    </div>
    <div id="editRegistrationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <%= render partial: "registrations/edit" %>
    </div>
  </body>
</html>
