<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ForAll Imobiliária::Login</title>

    <%= stylesheet_link_tag    "devise", media: "all" %>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie.css" />
    <script src="js/ie/html5.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="login_page">
    <%= yield %>
    <%= javascript_include_tag "devise" %> 
    <script>
      $(document).ready(function(){
        $('#login_form').submit(function(){
          return true;
        })
        //* boxes animation
        form_wrapper = $('.login_box');
        $('.linkform a,.link_reg a').on('click',function(e){
          $('.alert-error').remove()
          var target    = $(this).attr('href'),
          target_height = $(target).actual('height');
          $(form_wrapper).css({'height': form_wrapper.height()}); 
          $(form_wrapper.find('form:visible')).fadeOut(400,function(){
            form_wrapper.stop().animate({height: target_height },500,function(){
              $(target).fadeIn(400);
              $('.links_btm .linkform').toggle();
              $(form_wrapper).css({
                'height'    : ''
              }); 
            });
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>